/* HEADER стили для меню */
header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
         box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    }

.header__img {
    height: 280px;
    width: 2+-80px;
    }

.content__img {
    height: 364px;
    width: 364px;
    }

.footer__img {
    height: 64px;
    width: 64px;
    }
