/* HEADER стили для меню */
header {

    padding: 10px;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
         box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    }

.header__img {
    height: 280px;
    width: 2+-80px;
    }

.content {
    padding: 10px;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
    }

.content__img {
    height: 464px;
    width: 464px;
    }

.footer__img {
    height: 64px;
    width: 64px;
    }

.flash {padding: 10px;}
.flash.success {
     border: 1px solid #21DB56;
     background: #ffa500;
     }
.flash.error {
     border: 1px solid #FF4343;
     background: #ffff00;
     }