<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<h1>ЧТОБЫ ОШИБКА НЕ СТАЛА РОКОВОЙ НЕОБХОДИМО ЗНАТЬ ЧТО</h1>
<b>ВИЧ передаётся:</b>
<ul>
    <li> Через половой контакт — при анальном, вагинальном и оральном сексе, независимо от сексуальной ориентации</li>
    <li>Через инъекции и инструментарий — при использовании загрязнённых вирусом шприцев, игл, катетеров и т. п. —
        особенно актуальный и проблематичный в среде лиц, употребляющих инъекционные наркотики
    </li>
    <li>После переливания инфицированной крови или её компонентов — плазмы, тромбоцитарной, лейкоцитарной или
        эритроцитарной массы, концентратов крови, факторов свёртывания крови
    </li>
    <li>От ВИЧ-инфицированной матери возможно инфицирование при беременности, при родах и при кормлении ребёнка
        инфицированным молоком матери
    </li>
    <li>При пересадке инфицированных органов, костного мозга, искусственное оплодотворение инфицированной спермой</li>
</ul>

<b>ВИЧ не передаётся через:</b>
<ul>
    <li>укусы комаров и большинства насекомых, воздух, рукопожатие (при отсутствии открытых повреждений кожи), поцелуй
        (любой, но при отсутствии кровоточащих повреждений и трещин на губах и в полости рта), бытовым путём (через
        посуду, одежду, пользование ванной, туалетом, плавательным бассейном)</li>
    <li> ВИЧ не передается при бытовых контактах через слюну, слёзную жидкость и воздушно-капельным путём, а также через
        воду или пищу</li>
</ul>

<b>Адреса областных центров:</b>
<br> «Оренбургский центр профилактики и борьбы со СПИД»
<br>г. Оренбург, ул. Невельская, 24/1
<br>тел. (3532) 77-29-18;
<br>«горячая  линия» (3532) 77-28-99
<br>
<br>"Орский центр профилактики и борьбы со СПИД»
<br>Оренбургская область, г. Орск, ул. Олеко Дундича, д.5,
<br>телефон (3537) 26-96-01
<br>
<br>«Новотроицкий центр профилактики и борьбы со СПИД»
<br>Оренбургская область, г. Новотроицк, улица Мира За
<br>телефон (3537) 62-14-82 (регистратура)
<br>«Бузулукский центр профилактики и борьбы со СПИД»
<br>Оренбургская область, г. Бузулук, ул. Гая 43,
<br>телефон (35342) 2-36-34
<br>
<br>«Шарлыкский центр профилактики и борьбы со СПИД»
<br>Оренбургская область, с. Шарлык, ул. М. Джалиля 79 А,
<br>телефон (35358) 2-28-48

<br>
<br>Приём в Оренбургский центр СПИД осуществляется по талонам по предварительной записи через регистратуру по телефону: 8-3532-56-02-00 доб. 3
<br>Приём в Орский центр СПИД осуществляется по предварительной записи через регистратуру по телефону: 8-3537-26-96-12
<br>Приём в Новотроицкий центр СПИД осуществляется по предварительной записи через регистратуру по телефону: 8-3537-62-14-82
<br>Приём в Булукский центр СПИД осуществляется по предварительной записи по телефону: 8-35342-2-36-34
<br>Приём в Шарлыкский центр СПИД осуществляется по записи по телефону 8-35358-2-28-48
<br>
<br>Оренбургский областной центр по лечению хронических вирусных гепатитов (гепатитный кабинет): 8-3532-56-02-00 доб. 2
<br>
<br><b>«Горячая линия»</b> по консультациям, в том числе анонимно: 8-3532-772-899
<br><b>«Кабинет анонимного обследования» </b>: 8-3532-56-02-00 доб. 4


{% endblock %}