<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/feedback" method="POST" class="form-contact">

    <p><h5><label>Имя </label></h5><input type="text" name="username" value="" required />
    <p><h5><label>Email</label></h5><input type="text" name="email" value="" required />
    <p><h5><label>Ваш отзыв</label></h5>
    <p><textarea name="message" rows=7 cols=40></textarea>
    <p><input type="submit" value="Отправить" />

</form>
<h4> Отзывы</h4>
<ul class="mess">
  {% for m in message_menu %}
    <li><h5>
        <p class="username"><b>{{ m.username }}</b></p>
        <p class="message">{{m.message}}</p>
        </h5>
    </li>
    {% endfor %}
</ul>
{% endblock %}
