<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>СМС</h2>
<div class="d-flex flex-column align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <h6><p style="text-indent: 25px;line-height:1.5;">
        - Садитесь! – приказным тоном произнесла Вероника, вставая из-за стола.
        Мужчины без слов сели.<br>
        – Я спрошу только один раз! – Вероника чеканила слова – Уверяю вас, что лучше сознаться прямо сейчас!<br>
        - Да что происходит? Вероника, скажи уже!? – Иван был на взводе. <br>
        - Сядь и помолчи! – продолжила Вероника – Итак, сегодня утром мне пришла СМС и тот кто её послал, совершил
        роковую ошибку! Теперь я хочу знать, кто из вас мне её послал!?
        С этими словами она положила на стол перед мужчинами свой телефон, на котором высвечивалось СМС с
        неопределенного номера:<br>
        <br>ПРИВЕТ! <br>
        У МЕНЯ ВИЧ!<br>
        ТЕБЕ ТОЖЕ СТОИТ ПРОВЕРИТЬСЯ!<br>
        ИЗВИНИ!!!<br>
    </p>
    </h6>
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/sms.png') }}" alt="dver">
    </a>
    <h6><p style="text-indent: 25px;line-height:1.5;">
        <br>-Что? ВИЧ? – с недоверием произнес Иван,<br>
        -Что за чушь? При чём здесь я? – недоумевал Руслан,<br>
        - Во-первых, с чего ты взяла, что СМС тебе? А во-вторых, с чего ты взяла, что это кто-то из нас тебе его послал?
        – по-деловому стал размышлять Николай,
        Все обернулись на Веронику. Она вертела в руках свой пистолет.<br>
        - Я думала над этим весь день. Просила спецотдел пробить номер телефона. Но у них ничего не вышло. Сказали, что
        только через месяц, после моего официального запроса, смогут выдать номер. Это точно кто-то из вас, потому что
        это не может быть никто другой – Вероника говорила уверено и спокойно – мы не уйдём из этой комнаты пока я не
        узнаю, кто из вас послал это чёртово СМС!
        <br>Вероника не сомневалась, что СМС послал кто-то из этой троицы потому, что никто кроме этих трёх мужчин не знал
        номер, на которое пришло СМС. Конечно же об этом она решила пока помолчать.
        <br>- Вера, это какой-то бред! Нас же хватятся! Будут искать! И перестань вертеть пистолет, ну что ты в самом деле
        будешь по нам стрелять! – занервничал Николай,
        <br>- О, друг мой, вы её не знаете, Вероника Ивановна способна и не на такое в поимке преступника! – с иронией
        сказал Руслан,
        <br>- Да я то здесь причём! – разозлился Иван – Ты, что и в родного мужа будешь стрелять!?
        Вероника молчала.
        <br>- Ты что не знаешь? – с удивлением спросил Руслан – Она тебе ничего не сказала?
        <br>-Вот ты теперь всё и расскажи! – предложила Вероника.
        <br>- Я? – как будто не расслышал Руслан,
        <br>- Да ты! Давай рассказывай! – настойчиво произнесла Вероника и крепко сжала пистолет в руке,
        <br>- Да что рассказывать!!? Она тогда вернулась на день раньше из своей долбанной командировки и застукала меня с
        другой! – Руслан сделал паузу, прежде чем продолжить , глубоко вздохнул и …

    </p>
    </h6>

</div>
<a href="{{ url_for('index3') }}" class="nav-link px-2"><h4 style="color:#FFFF00;text-shadow: 0 0 4px #000;"><u>Далее</u>
</h4></a>

{% endblock %}
