<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Иван</h2>
<div class="d-flex flex-column align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/Ivan.png') }}" alt="dver">
    </a>
    <h5><p style="text-indent: 25px;line-height:1.5;">
        <br>- Так если бы у неё был ВИЧ ей бы не дали родить! – уверен Николай – Не будет же она рожать больного
        ребенка!?
        <br>- Нет! Это не правда! - вступила в разговор Вероника – Тоже мне умник! Женщина может родить здорового ребёночка
        даже если у неё ВИЧ. А сели лекарства будет пить, то процентов девяносто, что здоровый будет. Так что, Николай, это не
        аргумент. Но я имела в виду совсем другое, когда просила тебя рассказывать твою историю. Подумай ещё!
        <br>- Я не понимаю, о чём ты? Я здоров! – нахмурился Николай,
        <br>- Тогда на Новогоднем корпоративе, когда мы с тобой были последний раз, не помнишь? – голосом следователя
        спросила Вероника,
        <br>- Что помню? – пытался понять Николай
       <br> - Так это ведь тот корпоратив на котором вы окно разбили? Да? – вдруг спросил Иван,
        <br>- Да! – опешил Николай –А ты откуда знаешь?
        <br>- Вероника Ивановна – обратился Иван к жене – Потрудитесь объяснить, что это всё значит?
        Руслан и Николай переглянулись. Похоже, Вероника понимала, про что идёт речь, а вот они совсем запутались.
        <br>- Да! Я встречалась и с тобой и с Николаем! – заявила Вероника – Мы с тобой только познакомились, и я не знала,
        насколько у тебя серьезные намеренья!
        <br>- Как ты могла?! – Иван был взбешён,
        <br>- Иван, это было один раз, я была пьяна! – стала оправдываться Вероника – Да что я оправдываюсь как девочка!? Мы
        с тобой не были в браке! Я тебе ничего не обещала, клятву верности мы друг другу не давали!
        <br>- Х-о-р-о-ш-о, мы с тобой потом поговорим – сквозь зубы проговорил Иван,
        <br>- Стоп! Я тебя знаю, что-то быстро ты отказался от темы!? – с подозрением проговорила Вероника,
       <br> - Да, нет! Просто … не удобно здесь … обсуждать! - замялся Иван,
        <br>- Ты тоже встречался с другой? Ведь так? - этим вопросом Вероника ошарашила и Ивана и остальных мужчин,
        <br>- Ну … - Иван подбирал слова,
        <br>- Вот это талан! Так ты, Вероника попала в точку! – Руслан стал демонстративно хлопать в ладоши,
        <br>- Да, да, тоже встречался, но заразиться СПИДом через пастель я не мог! Я вообще никак не мог заразиться! –
        заявил Иван,
        <br>- ВИЧ можно заразиться не только через пастель! – уточнила Вероника,
        <br>- А так ты про …. – Николай вдруг понял, про что его спрашивала Вероника


    </p>
    </h5>
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/human.png') }}" alt="test">
    </a>
</div>

<h5><b>Каким путём мог заразиться Николай?</b></h5>
<a href="{{ url_for('index15') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>а) Если употреблял наркотики внутривенно.</u>
</h5></a>
<a href="{{ url_for('index13') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>б) Если купался в бассейне с ВИЧ-инфицированным.</u>
</h5></a>
<a href="{{ url_for('index14') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>в) Если его покусала собака.</u>
</h5></a>
{% endblock %}
