<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Руслан</h2>
<div class="d-flex flex-column align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/Ruslan.png') }}" alt="dver">
    </a>
    <h6><p style="text-indent: 25px;line-height:1.5;">
        Руслан сделал паузу, прежде чем продолжить , глубоко вздохнул и начал говорить снова:
        <br> «Она, молча, достала свой пистолет, я думал, что она шутит, но она выстрелила в ночник рядом с Юлькой.
        Юлька это, ну вы поняли, мы тогда работали вместе. Юлька тут же в обморок свалилась. Потом навела пистолет на
        меня и говорит: «Ну что, дорогой, ничего не хочешь мне сказать?» Я конечно перепугался, говорю : «А что говорить
        дорогая?». А она мне: «Вот подлец!!!» и выстрелила в ночник с моей стороны. Осколком мне посекло правую бровь»
        <br> Руслан повернулся к присутствующим правой стороной и показал шрам над бровью.
        <br> - После этого случая её и перевели с оперуполномоченных в участковые – закончил рассказ Руслан,
        <br> - Ты забыл про важный момент в своих показаниях! – громко произнесла Вероника,
        <br> - В каких показаниях? У нас что допрос? – удивился Руслан,
        <br> - А ты что не понял, что она серьезно настроена? Сам же начал про неё говорить , что она способна на всё! –
        внёс ясность Николай
        <br> - Да, я очень серьёзна настроена –уверенно и сердито заявила Вероника – Попрошу остальных помолчать. Итак,
        Руслан, что же ты забыл нам сообщить про свою измену?
        <br> - Я не понимаю про что ты!? – недоумевал Руслан,
        <br> - Хорошо, предлагаю следственный эксперимент! Выкладывай всё что у тебя есть в карманах, в клатче, вообще
        всё! –предложила Вероника Ивановна,
        <br> - Зачем? – удивился Руслан,
        <br> - Выкладывай! я сказала! – приказала Вероника бывшему мужу.
        <br> Руслан повиновался. Он спешно стал выкладывать всё из своих карманов. На стол легли телефон, ключи,
        портмоне, зажигалка, флешка, дорогая шариковая ручка.
        <br> - И это всё? – спросила Вероника
        <br> - Да! А собственно, что ты ожидала увидеть? – продолжал удивляться Руслан.
        <br> Впрочем, остальные мужчины так же не понимали, что всё это значит и чего добивается Вероника Ивановна.
        Вероника же искала улику. Вернее сказать, уликой являлось то, что у Руслана отсутствовала одна важная вещь.

    </p>
    </h6>

    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/lampa.png') }}" alt="dver">
    </a>
</div>
<a href="{{ url_for('index4') }}" class="nav-link px-2"><h4 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>Вещь</u>
</h4></a>

{% endblock %}
