<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Пройти тест на ВИЧ можно в любом учреждении здравоохранения по месту жительства.</h2>
<div class="d-flex flex-column align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/VIH.png') }}" alt="dver">
    </a>
    <h5><p style="text-indent: 25px;line-height:1.5;">
        Кроме того, существует возможность <b>анонимного</b> обследования с предварительной (до тестирования) и
        последующей (по получении результата) консультацией врача.
        <br>Такое обследование проводится в кабинетах психосоциального консультирования и анонимного обследования,
        которые можно найти в учреждениях здравоохранения и Центрах профилактики и борьбы со СПИДом.
        <br>Во всех указанных учреждениях граждане Российской Федерации сдают анализ на ВИЧ абсолютно <b>бесплатно.</b>
        <br>Такая проверка производится и в женских консультациях при постановке на учет по беременности. У женщины
        производят забор крови на наличие вируса иммунодефицита для того, чтобы в случае необходимости вовремя начать
        антиретровирусную терапию. При этом сдача анализа крови на ВИЧ осуществляется как при постановке на учет, так и
        несколько раз в дальнейшем. Партнера или мужа беременной также просят провериться на наличие этого недуга или
        других заболеваний, передающихся половым путем.
        <br>Сдача крови на ВИЧ и СПИД производится и в стационарных условиях. Такой проверке подлежат все, кто какое-то
        время проводят в больнице. Касается это и пациентов дневного стационара. Для того, чтобы сдать кровь на СПИД в
        условиях стационара, также не нужно платить.

    </p>
    </h5>
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/lab.png') }}" alt="test">
    </a>
</div>

<a href="{{ url_for('index18') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>Узнать, чем закончилась эта история</u>
</h5></a>

{% endblock %}
