<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Николай</h2>
<div class="d-flex flex-column align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/Nikolay.png') }}" alt="Nikolay">
    </a>
    <h5><p style="text-indent: 25px;line-height:1.5;">
        <br>- Только положительный результат анализа на антитела к ВИЧ может указать на наличие вируса в организме
        человека! – ответил за Руслана Николай,
        <br>- Откуда ты такой умный взялся!? – разозлился Руслан – Я это всё откуда должен знать !?
        <br>- Руслан, вот ты взрослый мужик, а таких вещей не знаешь! Раз спишь с кем попало, то уж про презерватив
        знать
        должен!!! – пристыдила его Вероника,
        <br> -Вот, вот! – поддержал Николай,
        <br>- А ты что ягненком прикидываешься!? – обратилась Вероника к Николаю,
        В кабинете, в очередной раз, повисла тишина. Все смотрели теперь на Николая.
        <br>- Вера, ты чего!? Ты знаешь же … -неуверенно начал Николай,
        <br> - Подождите, так вы что спали вместе? – Иван был поражён своим открытием,
        <br>- Не истери! Это было до тебя! – с раздражением сказала Вероника,
        <br>- Почему ты мне ничего не сказала? – продолжал Иван,
        <br>-Да я и не обязана была тебе говорить! Вань, ты успокойся, ты мой муж, я тебя люблю и всё такое… Но,
        возможно, у
        меня ВИЧ и я очень зла!!! Вот сейчас всё выясним про Николая, а потом займёмся тобой! - всерьез разозлилась
        Вероника и демонстративно отвернулась от Ивана
        <br> - Итак, рассказывай! – обратилась она к Николаю и опять начала крутить пистолет в руке.
        <br> - Да, что собственно рассказывать? Я всегда презервативом пользуюсь! – уверенно ответил Николай,
        <br> - Прям всегда, всегда? – засомневался Руслан – И ни разу у тебя не было без презерватива?
        <br> - Нуууу… - Николай задумался на пару секунд и выдавил из себя – Было! В студенческие годы, это были мои
        первые
        отношения, мы учились вместе! Тогда я о таких вещах и не думал!
        <br>- Ага! – торжествовал Руслан – значит и ты не ангелок!!!
        <br>- Ты мне не судья! – парировал Николай и продолжил – Лена, так звали мою первую, она потом вышла замуж и
        родила
        двух замечательных детишек! Так что, от неё я заразиться никак не мог!
        <br>- Это почему? – не понял Руслан,
        <br>- Так если бы у неё был ВИЧ ей бы не дали родить! – уверен Николай – Не будет же она рожать больного
        ребенка!?

    </p>
    </h5>
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/test.png') }}" alt="test">
    </a>
</div>

<h5><b>Прав ли Николай? Может ли ВИЧ-инфицированная женщина родить здорового ребенка?</b></h5>
<a href="{{ url_for('index12') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>а) Да, у ВИЧ-инфицированной женщины высокие шансы родить здорового ребёнка, а при приеме специальных
        препаратов и мамой и ребёнком шансы возрастают до 95-98%</u>
</h5></a>
<a href="{{ url_for('index11') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>б) Нет, ВИЧ-инфицированная женщина не может родить здорового ребенка.</u>
</h5></a>

{% endblock %}
