<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Мужчины</h2>
<div class="d-flex flex-row align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <h6><p style="text-indent: 25px;line-height:1.5;">
    Вероника пропустила Ивана вперёд, затем сама зашла в свой рабочий кабинет и
    закрыла за собой дверь на ключ.
    В кабинете, в ожидании Вероники уже сидело двое мужчин: Николай – её давний друг, они вместе учились; Руслан –
    её бывший муж. Иван же был ей нынешним, вторым мужем. Когда Вероника вошла, Руслан уступил ей место за её
    столом, а Николай встал со стула для посетителей.<br>
    Всех мужчина Вероника под разными предлогами собрала у себя в кабинете под конец рабочего дня пятницы. Все,
    конечно, были удивлены, но теперь, когда она закрыла дверь на ключ, мужчины тревожно переглянулись.<br>
    - Ника, родная, что происходит? – нервно улыбаясь, спросил Иван<br> – Что они все, кх-кх …мы все здесь делаем?<br>
    - Вера, у тебя что-то случилось? – спросил Николай
    Вероника поочередно переводила взгляд на говорящих. После того как вопрос задал Николай все разом посмотрели на
    Руслана.<br>
    - Что вы так на меня смотрите! Я не знаю, зачем мы здесь! – удивился Руслан и обратился к Веронике<br> – Мне вот
    тоже интересно - зачем мы здесь??<br>
    Вероника ещё раз внимательно посмотрела на каждого. После чего достала из сумочки своё табельное оружие. ПМ
    тяжело стукнул о стол и в этот момент все мужчины вздрогнули. В кабинете участкового уполномоченного милиции
    Вероники Ивановны Скворцовой повисла гробовая тишина.
</p>
</h6>

    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/dver.png') }}" alt="dver">
    </a>
</div>
<a href="{{ url_for('index2') }}" class="nav-link px-2"><h4 style="color:#FFFF00;text-shadow: 0 0 4px #000;"><u>Далее</u>
</h4></a>

{% endblock %}
