<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Ещё одна СМС</h2>
<div class="d-flex flex-column align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/tee.png') }}" alt="tee">
    </a>
    <h5>
        <p style="text-indent: 25px;line-height:1.5;">
        <br>Вдруг раздался звук СМС. Все переглянулись. Вероника подумала, что ещё одной странной СМС эта компания бы не
        перенесла. Все стали искать свои телефоны. Оказалось, что СМС пришла Веронике. Вероника разблокировала телефон и
        стала напряженно читать. Остальные не отводили от неё глаз. Она вздохнула и положила телефон на стол. Мужчины
        тут же склонились над столом. СМС опять была с неопределенного номера:
        <br>
        <br> <b>Я ОШИБСЯ С НОМЕРОМ. СМС ПРО ВИЧ БЫЛА АДРЕСОВАНА НЕ ВАМ. ИЗВИНИТЕ!</b>
        <br>
        <br>
        - Давайте чай попьем, мальчики!? - Вероника убрала пистолет в сейф и включила чайник.
        <br>
        - Да уж, ошибся он! За такие ошибки... – зло начал Николай, но его перебил Руслан
        <br>
        - Ладно уж! Все мы ошибаемся!
        </p>
    </h5>

</div>


{% endblock %}
