<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Верно!!! У Руслана отсутствует презерватив!</h2>
<div class="d-flex flex-row align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <h5><p style="text-indent: 25px;line-height:1.5;">
        <br>- У тебя нет с собой презервативов! И в тот злосчастный вечер презервативов тоже не было, я знаю это точно,
        потому что отдраивала квартиру неделю! А если их не было в тот раз, значит, их не было никогда!!! И значит, ты
        легко мог заразиться ВИЧ! – выпалила Вероника.
        <br>Она тяжело дышала. Глаза её стали красными и от воспоминаний проступили слёзы.
        Вероника думала о том, как же она могла влюбиться в этого горе-казанову. Да Руслан высокий и красивый, но ведь
        он совсем не создан для семьи и это сразу видно.
        <br>- Ника, успокойся! Надо было его вообще застрелить! – попытался успокоить жену Иван,
        <br>- Я спокойна! – с этими словами Вероника смахнула слёз - Ты Руслан кабель! Да ещё и без мозгов, уж если
        изменял
        жене, то мог бы, хоть презервативами пользоваться!?
        <br>- Да что вы на меня набросились! – стал возмущаться Руслан – Я что с кем попало сплю!? Юля та была из
        хорошей
        семьи, вполне добропорядочная женщина!
        <br>- Ага, «порядочная»!!! С женатиком в его семейной кровати любови крутила!!!- усмехнулся Николай,
        <br>- Да не могло у неё быть никакого СПИДа! – оправдывался Руслан,
        <br>- А ты откуда знаешь? – присоединился Иван,
        <br>-Так видно же, что она здорова! – ответил Руслан,
        <br>- Что видно!? – иронично спросила Вероника – Как вообще, по-твоему, можно узнать, что у человека
        ВИЧ-инфекция?

    </p>
    </h5>

    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/prezervativ.png') }}" alt="dver">
    </a>
</div>

<h5><b>А как вы считаете, как можно определить, что у человека ВИЧ-ИНФЕКЦИЯ?</b></h5>
<a href="{{ url_for('index8') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>а) Человек выглядит больным, вялым, бледным</u>
</h5></a>
<a href="{{ url_for('index9') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>б) Только положительный результат анализа на антитела к ВИЧ может указать на наличие вируса в организме
        человека</u>
</h5></a>
<a href="{{ url_for('index10') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>в) Если человек из благополучной семьи, работает, не употребляет наркотиков и не ведет разгульный образ жизни,
        то у него ВИЧ-инфекции быть не может</u>
</h5></a>

{% endblock %}
