<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Вы ответили не верно.</h2>
<div class="d-flex flex-column align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/Ruslan.png') }}" alt="Ruslan">
    </a>
    <h6>
        <p style="text-indent: 25px;line-height:1.5;">

        <br> Конечно, желательно, что бы ваш сексуальный партнёр предоставил вам справку об отрицательных результатах
        анализа на антитела к ВИЧ-инфекции. Но он точно не обязан носить данную справку с собой.
        Вы ответили не верно. У Руслана отсутствует другая важная вещь. Попробуйте снова.
        </p>
    </h6>
</div>
<a href="{{ url_for('index4') }}" class="nav-link px-2"><h4 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>Ответить снова</u>
</h4></a>

{% endblock %}
