<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
<h2>Анализы</h2>
<div class="d-flex flex-column align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/VIH.png') }}" alt="dver">
    </a>
    <h5><p style="text-indent: 25px;line-height:1.5;">
        <br>- Если ты наркотики принимал, мог заразиться! Это-то все знают! – Руслан не дал Николаю закончить фразу –
        Так ты что нарик!?
        <br>Все пристально посмотрели на Николая.
        <br>- Нет, конечно! - возмутился Николай – С чего вы взяли?
        <br> И в кабинете опять повисла пауза.
        <br>- Тогда, последний раз, когда мы были вместе – заговорила Вероника - Ты сам мне рассказал, что в армии вы с
        дружками укололись! Ведь так?
       <br> - Да это было один единственный раз в жизни, и то сто лет назад! – с недоумением ответил Николай,
        <br>- Так этого одного раза, может было достаточно для того, чтобы ты заразился! И было это не сто лет назад, а 12
        лет назад. Как раз у тебя сейчас проблемы со здоровьем начались. И ты про свой ВИЧ-положительный статус узнал!?
        <br>– предположила Вероника,
        <br>- Да ничего я не узнавал, нет у меня никакого статуса, я здоров! – упорствовал Николай,
        <br>- Вот пока у тебя статуса нет и ты не знаешь ты ВИЧ- или ты ВИЧ+ , ты не можешь вот так заявлять, что ты здоров!
        Сдай анализы, тогда и посмотрим! – стала объяснять Вероника.
        <br>- Может так вам и стоит поступить!? Сдать всем анализы на ВИЧ!? – спокойным голосом, глядя в окно, предложил
        Иван – Всё и выяснится!
        <br>Все опять замолчали. Ситуация была гнетущая. Получалось, что и Руслан и Николай могли быть ВИЧ-инфицированными.
        И ей не хотелось копаться в жизни Ивана, и найти там тоже что-то чего она до сих пор не знала.
        <br>- А почему «вам», а тебе не надо сдавать? – удивился Руслан,
        <br>- Почему!? Могу и сдать. Я и так каждый год сдаю. На работе требуют. Результат отрицательный – спокойно ответил
        Иван,
        <br>- Так почему ты молчал? – Вероника говорила и с удивлением и с облегчением. Хоть муж её не подвёл. И она тут же
        замялась, догадавшись, что муж с самого начала считал себя вне подозрений. И Вероника тихо произнесла – Не
        отвечай! Вань, я в тебя верила!
        И с этими словами она обняла мужа.
        <br>Трогательность момента разрушил Руслан.
        <br>- Так что будем делать? – спросил Руслан – Если анализы сдавать, то у меня сейчас денег нет! Сейчас все анализы
        бешеных денег стоят!
        <br>- Анализы можно и бесплатно сдать! – сообщил Иван,
        <br>-Не может быть! – не согласился Руслан.
    </p>
    </h5>
    <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="content__img" src="{{ url_for('static', filename='img/lab.png') }}" alt="test">
    </a>
</div>

<h5><b>Кто прав?</b></h5>
<a href="{{ url_for('index17') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>а) Бесплатно и анонимно можно сдать анализы на антитела к ВИЧ в любом из Центров профилактики и борьбы со СПИД.</u>
</h5></a>
<a href="{{ url_for('index16') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>б) Все анализы производятся только платно.</u>
</h5></a>
<a href="{{ url_for('index16') }}" class="nav-link px-2"><h5 style="color:#FFFF00;text-shadow: 0 0 4px #000;">
    <u>в) Анонимно сдать анализы на антитела к ВИЧ нельзя, нужно обязательно предъявить паспорт.</u>
</h5></a>
{% endblock %}
