{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block content %}
<h2>Проект «НадО узнать!»</h2>
<h5>Оренбургская региональная молодежная общественная организация "Навигатор" начала реализацию проекта по профилактике
    ВИЧ-инфекции среди взрослого населения Оренбургской области. Проект "НадО узнать!" реализуется благодаря национальному
    проекту "Образование" при поддержке департамента молодёжной политики Оренбургской области. Проект направлен на профилактику
    ВИЧ-инфекции среди работающей молодёжи Оренбургской области через вовлечение в добровольчество (волонтерство) трудоспособного
    населения Оренбургской области.

<a>
    <br>
    <br><b>Цель проекта:</b>Вовлечение в добровольчество работающую молодёжь для профилактики ВИЧ-инфекции посредством пропаганды
        использования презерватива среди.
    <br>
    <br><b>Задачи проекта:</b>
    Подготовка добровольцев из числа молодых сотрудников предприятий МО наиболее затронутых проблемой ВИЧ-инфекции.
        Повышение уровня информированности целевой группы по вопросам ВИЧ-инфекции с привлечением добровольцев.
        Социальный маркетинг презерватива.
        <br>
    <br><b>Основная целевая группа проекта:</b>
    Работающая молодёжь Оренбургской области в возрасте от 28 до 35 лет.
<br>
    <br> Наша организация уже более 20 лет осуществляет деятельность в сфере профилактики социально обусловленных заболеваний.
    Наша команда - это слаженный профессиональный коллектив людей преданных своему делу.
    <br>
    <br>
    <b>Контакты:</b> 8(3532) 77-11-90, nkoorenburg@yandex.ru, https://navigator56.ru/
</a></h5>
{% endblock %}