{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block content %}
<h2>Проект «НадО узнать!»</h2>
<h5>Проект «НадО узнать!» направлен на профилактику ВИЧ-инфекции среди работающей молодёжи Оренбургской области через
вовлечение в добровольчество (волонтерство) трудоспособного населения Оренбургской области.Проект реализуется благодаря
национальному проекту "Образование" при поддержке департамента молодёжной политики Оренбургской области.</h5>

<h2>Цель проекта:</h2>
<a><h4>Вовлечение в добровольчество работающую молодёжь для профилактики ВИЧ-инфекции посредством пропаганды
    <использования презерватива среди.</h4></a>
<h2>Задачи проекта:</h2>
<h4> Подготовка добровольцев из числа молодых сотрудников предприятий МО наиболее затронутых проблемой ВИЧ-инфекции.
Повышение уровня информированности целевой группы по вопросам ВИЧ-инфекции с привлечением добровольцев.
Социальный маркетинг презерватива.</h4>


<h2>Основнаяцелевая группа проекта:</h2>
<h4>Работающая молодёжь городов Оренбург, Орск и Бузулук в возрасте от 28 до 35 лет.</h4>

{% endblock %}