{% extends 'base.html' %}

{% block title %}
О проекте
{% endblock %}

{% block content %}
<h1>Проект «НадО узнать!»</h1>
<h3>Проект «НадО узнать!» направлен на профилактику ВИЧ-инфекции среди работающей молодёжи Оренбургской области через
вовлечение в добровольчество (волонтерство) трудоспособного населения Оренбургской области.Проект реализуется благодаря
национальному проекту "Образование" при поддержке департамента молодёжной политики Оренбургской области.</h3>

<h1>Цель:</h1>
<a><h3>Вовлечение в добровольчество работающую молодёжь для профилактики ВИЧ-инфекции посредством пропаганды
    <использования презерватива среди.</h3></a>
<h1>Задачи:</h1>
<h3> Подготовка добровольцев из числа молодых сотрудников предприятий МО наиболее затронутых проблемой ВИЧ-инфекции.
Повышение уровня информированности целевой группы по вопросам ВИЧ-инфекции с привлечением добровольцев.
Социальный маркетинг презерватива.</h3>


<h1>Основнаяцелевая группа проекта:</h1>
<h3>Работающая молодёжь городов Оренбург, Орск и Бузулук в возрасте от 28 до 35 лет.</h3>

{% endblock %}