<!-- наследуем от базового шаблона-->
{% extends 'base.html' %}

{% block title %}
Детектив
{% endblock %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/register" method="POST" class="form-contact">
    <p><h5><label>Имя: </label></h5><input type="text" name="name" value="" required/>
    <p><h5><label>Email: </label></h5><input type="text" name="email" value="" required/>
    <p><h5><label>Пароль:</label></h5><input type="password" name="psw" value="" required/>
    <p><h5><label>Повтор пароля:</label></h5><input type="password" name="psw2" value="" required/>
    <p><input type="submit" value="Регистрация"/>
</form>
{% endblock %}
